<div class="featmodal__image-wrapper">
    <img class="featmodal__feat-image" src="{{ block.settings.featured-image | img_url: 'master' }}" />
    <div class="corner corner--top-left"></div>
    <div class="corner corner--top-right"></div>
    <div class="corner corner--bottom-left"></div>
    <div class="corner corner--bottom-right"></div>                        
</div>